@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	}
#main{
	width:800px;
	height:500px;
	margin:0px auto;	
	}
	
	#top{
		width:495px;
		height:62px;
		margin:100px auto;
		}
		#tLeft{
			background-image:url(../images/tab01.gif);
			font-weight:bolder;
			color:#FFF;
			font-size:14px;
			width:309px;
			height:62px;
			border:none;}
			#tRight{
				margin-top:-39px;
				margin-left:309px;
				height:39px;
				border:none;
				}
	#center{
		width:495px;
		height:170px;
		margin-top:-100px;
		margin-left:152px;
		}
		#cLeft{
			width:28px;
			height:170px;
			background-image:url(../images/centerleft.gif);
			background-repeat:repeat-y;}
		#cCenter{
			margin-top:-170px;
			margin-left:28px;			
			width:439px;
			height:150px;	
			padding-top:20px;
			text-align:center;			
			background-color:#CCC;
			}
			.text{
				border:none;
				height:20px;
				width:130px;
				border:solid 1px #9CF;}
			.button{
				height:22px;
				width:60px;
				font-size:14px;
				font-weight:bolder;}
		#cRight{
			width:28px;
			height:170px;
			margin-top:-170px;
			margin-left:467px;
			background-image:url(../images/centeright.gif);
			background-repeat:repeat-y;}
		#bottom{
			width:495px;
			height:39px;
			margin-top:-2px;
			margin-left:152px;
			background-color:#f0f;}
		
